*{  
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}
.hero {     /* stack children vertically */
       /* center vertically if container has height */
  width: 100%;                 /* optional, fill horizontal space */
  min-height: 100vh;           /* optional, full viewport height for perfect vertical centering */
  box-sizing: border-box;      /* ensures padding/margin don't affect centering */
}
.heading{
    width: 15.625rem;
    height: 9.375rem;
}
.container{
  width: 80dvw;
    height: 80dvh;
    background-color: white;
    margin: 0 auto;
    margin-top: 4.375rem;
    display: flex;
    flex-direction: row;
    gap: 6.25rem;
}
.head-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
    
}
.paragraph{
    font-size: 0.9375rem;
    color: rgb(121, 111, 121);
    font-weight: 550;
    width: 28rem;
    height: 3.75rem;
}
.cardd{
    width: 31.25rem;
    height: 3.125rem;
    background-color: rgb(239, 230, 242);
    border-radius: 0.625rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    margin-right: 3.125rem; /* 50px / 16 */
    gap: 1.25rem;
    
}
#card1{
    margin-left: -1.5625rem; /* -25px / 16 */
}
#card2{
    margin-left: 6.875rem; /* 110px / 16 */
}
#card3{
    margin-left: 11.25rem; /* 180px / 16 */
}
.star{
  width: 1.25rem;
  display: inline-block;
  margin: 0;
}


.reviews{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(101, 12, 101);
    margin-bottom: 0.3125rem;
}
.cards-ratings{
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
}
.reviews-ratings {
  margin-left: 0px; /* or a positive value to move right */
}
.reviewers{
   display: flex;
   gap: 2.75rem;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   margin-bottom: 0rem;
}   
.boxes{
    width: 25rem;
    height: 18.75rem;
    background-color: rgb(94, 3, 94);
    border-radius: 10px;
} 
.wrap{
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
}  
.wrapper{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 18.5rem;
  height: 15rem;
  margin-top: 3rem;
}     
.name{
  margin-top: -1em;
}   
@media (max-width: 480px){
  body{
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}
    .hero {
       display: block;
        flex-direction: column;
         width: 100dvw;                 /* optional, fill horizontal space */
       min-height: 100dvh;           /* optional, full viewport height for perfect vertical centering */ 
  }
    .head-container{
        align-items: center;
        text-align: center;
        margin-bottom: -3.75rem;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 90dvw;
        height: auto;
        margin-top: 2rem;
    }
    .paragraph{
        width: 20rem;
        height: auto;
    }
    h1{
        font-size: 2rem;
        color: rgb(70, 3, 70);
    }
    .cards-ratings{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        width: 90%;
    }
    .cardd {
        margin: 0 auto;        /* center the card */
        margin-right: 0;       /* remove desktop offset */
        max-width: 100%;   
        height: 5rem;         /* responsive width for mobile */
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    .star-row{
        justify-content: center;
        margin-top: .5rem;
    }
    #card1{
        margin-left: 0rem;
    }
    #card2{
        margin-left: 0rem;
    }
    #card3{
        margin-left: 0rem;
    }
    .reviewers{
        flex-direction: column;
        gap: 18rem;
        margin-top: 20rem;
        width: 100%;
    }
    .wrap{
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
    .wrapper{
      width: 23rem;
      height: auto;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
    .boxes{
        width: 100%;
        height: auto;
    }
}